<?xml version="1.0"?>
<config>
    <modules>
        <Bialsoft_Easyvariantscreator>
            <version>1.0.0</version>
        </Bialsoft_Easyvariantscreator>
    </modules>
    <frontend>
        <routers>
            <easyvariantscreator>
                <use>standard</use>
                <args>
                    <module>Bialsoft_Easyvariantscreator</module>
                    <frontName>easyvariantscreator</frontName>
                </args>
            </easyvariantscreator>
        </routers>
        <layout>
            <updates>
                <easyvariantscreator>
                    <file>easyvariantscreator.xml</file>
                </easyvariantscreator>
            </updates>
        </layout>
    </frontend>
    <global>
        <!--<rewrite>
            <bialsoft_easyvariantscreator_adminhtml_catalog_productcontroller>
                <from><![CDATA[#^/admin/catalog_product/#]]></from>
                <to>/easyvariantscreator/adminhtml_catalog_product/</to>
            </bialsoft_easyvariantscreator_adminhtml_catalog_productcontroller>
        </rewrite>-->
        <helpers>
            <easyvariantscreator>
                <class>Bialsoft_Easyvariantscreator_Helper</class>
            </easyvariantscreator>
        </helpers>
        <blocks>
            <easyvariantscreator>
                <class>Bialsoft_Easyvariantscreator_Block</class>
            </easyvariantscreator>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Bialsoft_Easyvariantscreator_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>

        </blocks>
        <models>
            <easyvariantscreator>
                <class>Bialsoft_Easyvariantscreator_Model</class>
                <resourceModel>easyvariantscreator_mysql4</resourceModel>
            </easyvariantscreator>
            <easyvariantscreator_mysql4>
                <class>Bialsoft_Easyvariantscreator_Model_Mysql4</class>
                <entities>
                    <easyvariantscreator>
                        <table>bialsoft_easyvariantscreator_products</table>
                    </easyvariantscreator>
                </entities>
            </easyvariantscreator_mysql4>
        </models>
        <resources>
            <easyvariantscreator_setup>
                <setup>
                    <module>Bialsoft_Easyvariantscreator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easyvariantscreator_setup>
            <easyvariantscreator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easyvariantscreator_write>
            <easyvariantscreator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easyvariantscreator_read>
        </resources>
    </global>
    <admin>
        <routers>

            <easyvariantscreator>
                <use>admin</use>
                <args>
                    <module>Bialsoft_Easyvariantscreator</module>
                    <frontName>admin_easyvariantscreator</frontName>
                </args>
            </easyvariantscreator>
            <adminhtml>
                <args>
                    <modules>
                        <Bialsoft_Easyvariantscreator_Adminhtml before="Mage_Adminhtml">Bialsoft_Easyvariantscreator_Adminhtml</Bialsoft_Easyvariantscreator_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <easyvariantscreator module="easyvariantscreator">
                <title>Easyvariantscreator</title>
                <sort_order>100</sort_order>
                <children>
                    <easyvariantscreator module="easyvariantscreator">
                        <title>Manage Easyvariantscreator</title>
                        <sort_order>0</sort_order>
                        <action>admin_easyvariantscreator/adminhtml_easyvariantscreator</action>
                    </easyvariantscreator>
                    <!--<settings translate="title"  module="easyvariantscreator">
                        <title>Configuration</title>
                        <action>adminhtml/system_config/edit/section/easyvariantscreator</action>
                        <sort_order>100</sort_order>
                    </settings>-->
                </children>
            </easyvariantscreator>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <easyvariantscreator translate="title" module="easyvariantscreator">
                            <title>Easyvariantscreator</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <easyvariantscreator translate="title">
                                    <title>Manage Easyvariantscreator</title>
                                    <sort_order>0</sort_order>
                                </easyvariantscreator>
                            </children>
                        </easyvariantscreator>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <easyvariantscreator>
                    <file>easyvariantscreator.xml</file>
                </easyvariantscreator>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <customtabs_save_product_data>
                        <type>singleton</type>
                        <class>easyvariantscreator/observer</class>
                        <method>saveProductTabData</method>
                    </customtabs_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <!--<crontab>
        <jobs>
            <easyvariantscreator_createproducts>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>easyvariantscreator/cron::createProducts</model>
                </run>
            </easyvariantscreator_createproducts>
        </jobs>
    </crontab>-->
</config>